<!DOCTYPE html>
<html lang="en">

<head>
    <!-- testing Git Hub Mac ' Otra vez  y Mas-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create a Car</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <main class="container my-5 ">

        <!-- first form -->
        <div id="formInput" style="display:block">
            <div class="row align-items-center">
                <div class="col">

                </div>
                <div class="col">
                    <h1 style="text-align: center;">Create a car</h1>
                </div>
                <div class="col">

                </div>

            </div>

            <div>

                <form class="container my-5">

                    <div class="row d-flex justify-content-center">

                        <div class="form-group col-md-2">
                            <label for="inputPlate">Plate</label>
                            <input type="text" class="form-control" id="inputPlate">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputBrand">Brand</label>
                            <input type="text" class="form-control" id="inputBrand">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputColor">Color</label>
                            <input type="text" class="form-control" id="inputColor">
                        </div>

                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="form-group col-md-2">
                            <button type="button" class="btn btn-primary"
                                onclick="createCar(inputPlate.value, inputColor.value, inputBrand.value)">Create</button>
                            <p id="carInfo"></p>
                        </div>

                        <div class="form-group col-md-2">
                        </div>

                        <div class="form-group col-md-2">
                        </div>


                    </div>

                </form>
            </div>


        </div>
        <!-- end first form -->

        <div class="row align-items-center" id="carCreatedTitle" style="display:none">
            <div class="col">
              </div>
            <div class="col">
                <h1 style="text-align: center;">Car Created</h1>
              </div>
            <div class="col">
              </div>   
        </div>


        <div class="row d-flex justify-content-center my-5">

            <div class="form-group col-md-2" id="plateRes">
            </div>

            <div class="form-group col-md-2" id="brandRes">
            </div>

            <div class="form-group col-md-2" id="colorRes">
            </div>
        </div>

        <!-- second form -->
        <div id="addWheels" style="display:none">
            <div class="row align-items-center">
                <div class="col">
                </div>
                <div class="col">
                    <h2 style="text-align: center;">Add Wheels</h2>
                </div>
                <div class="col">
                </div>

            </div>

            <div>
                <form class="container my-5">
                    <div class="my-5">
                        <form class="container my-5">
                            <div class="row d-flex justify-content-center">

                                <div class="form-group col-md-2">
                                    <label for="brandWheel1">Brand 1</label>
                                    <input type="text" class="form-control" id="brandWheel1">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="brandWheel2">Brand 2</label>
                                    <input type="text" class="form-control" id="brandWheel2">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="brandWheel3">Brand 3</label>
                                    <input type="text" class="form-control" id="brandWheel3">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="brandWheel4">Brand 4</label>
                                    <input type="text" class="form-control" id="brandWheel4">
                                </div>

                            </div>
                            <div class="row d-flex justify-content-center">

                                <div class="form-group col-md-2">
                                    <label for="diamWheel1">Diameter 1</label>
                                    <input type="text" class="form-control" id="diamWheel1">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="diamWheel2">Diameter 2</label>
                                    <input type="text" class="form-control" id="diamWheel2">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="diamWheel3">Diameter 3</label>
                                    <input type="text" class="form-control" id="diamWheel3">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="diamWheel4">Diameter 4</label>
                                    <input type="text" class="form-control" id="diamWheel4">
                                </div>



                            </div>
                            <div class="row d-flex justify-content-center my-5">
                                <div class="form-group col-md-4">
                                    <button type="button" class="btn btn-primary" onclick="addWheels(diamWheel1.value, diamWheel2.value, diamWheel3.value, diamWheel4.value,
                                brandWheel1.value, brandWheel2.value, brandWheel3.value, brandWheel4.value)">
                                        Add Wheels
                                    </button>
                                </div>

                                <div class="form-group col-md-2">
                                </div>

                                <div class="form-group col-md-2">
                                </div>
                            </div>

                        </form>

                    </div>
            </div>
        </div>
<!-- end second form -->

<!-- third form -->
        <div id="showCarCreated" style="display:none">

<!-- Wheels -->

<!-- title -->
            <div class="col">
            </div>
            <div class="col">
                <h2 style="text-align: center;">Wheels</h2>
            </div>
            <div class="col">
            </div>
        
<!-- wheels brand -->
               
            <div class="row d-flex justify-content-center my-3">
                <div class="form-group col-md-2" id="brandW1">
                </div>

                <div class="form-group col-md-2" id="brandW2">
                </div>

                <div class="form-group col-md-2" id="brandW3">
                </div>

                <div class="form-group col-md-2" id="brandW4">
                </div>

            </div>

<!-- wheels diameter -->

            <div class="row  justify-content-center">

                <div class="form-group col-md-2" id="diamW1">
                </div>
                <div class="form-group col-md-2" id="diamW2">
                </div>
                <div class="form-group col-md-2" id="diamW3">
                </div>
                <div class="form-group col-md-2" id="diamW4">
                </div>
            </div>
        </div>
<!-- end third form -->



    </main>

    <script src="../models/car.js"></script>
    <script src="../models/wheel.js"></script>
    <script src="../controllers/controller.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>




</body>

</html>